<div class="container-fluid">
  <nx-todo-undo-tasks></nx-todo-undo-tasks>
  <!-- <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
    class="form-inline"
  >
    <div class="form-group mx-sm-3 mb-2">
      <label for="task" class="sr-only">Password</label>
      <input
        type="text"
        class="form-control"
        id="task"
        placeholder="New Task"
        formControlName="task"
      />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add</button>

    <button
      type="button"
      class="btn btn-light mb-2"
      (click)="onUndo()"
      [disabled]="!(canUndo$ | async)"
    >
      Undo
    </button>
    <button
      type="button"
      class="btn btn-light mb-2"
      (click)="onRedo()"
      [disabled]="!(canRedo$ | async)"
    >
      Redo
    </button>
  </form>

  <div>
    <ul class="list-group">
      <li *ngFor="let task of tasks$ | async" class="list-group-item">
        <span class="align-middle">{{ task.text }} </span>
        <div class="float-right" role="group">
          <button
            *ngIf="!task.compleated"
            type="button"
            class="btn btn-sm btn-success pad-action"
            (click)="onDone(task.id)"
          >
            ✓
          </button>
          <button
            type="button"
            class="btn btn-sm btn-danger"
            (click)="onDelete(task.id)"
          >
            Ｘ
          </button>
        </div>
      </li>
    </ul>
  </div> -->
</div>
